@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* This file is for your main application CSS */

.outline-black {
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

.outline-gray {
	text-shadow:
		-1px -1px 0 gray,
		1px -1px 0 gray,
		-1px 1px 0 gray,
		1px 1px 0 gray;
}

.outline-white {
	color: white;
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.outline-danger {
	color: #ff6b6b;
	text-shadow:
		-1px -1px 0 #ff6b6b,
		1px -1px 0 #ff6b6b,
		-1px 1px 0 #ff6b6b,
		1px 1px 0 #ff6b6b;
}
